<template name="navbar">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="container-fluid">
			<div class="navbar-header pull-left">
				<a class="navbar-brand" href="{{ pathFor 'home' }}">{{siteName}}</a>
			</div>
			<ul class="nav nav-navbar pull-right">
				{{#if currentUser}}
				<ul class="nav nav-pills">
					<li class="{{ activeIfTemplateIs 'NewSpot' }}">
						<a href="{{ pathFor 'newSpot' }}" class="navbar-btn"><i class="fa fa-plus fa-2x"></i></a>
					</li>
					<li class="{{ activeIfTemplateIs 'UserProfile' }}">
						<a href="{{ pathFor 'userProfile' _id=currentUser._id }}" class="navbar-btn"><i class="fa fa-user fa-2x"></i></a>
					</li>
				</ul>
				{{/if}}
			</ul>
		</div>
	</nav>
</template>