<template name="spotsList">
	<div class="page-header">
		<div class="btn-group pull-right">
			<a href="{{pathFor 'newSpot'}}" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i>&nbsp;new spot</a>
		</div>
		<h2><strong>Last spots added</strong></h2>
	</div>
	<div class="list-group">
		{{#each spots}}
		{{#with this}}
		<a href="{{pathFor 'viewSpot'}}" class="list-group-item">{{> spotItem}}</a>
		{{/with}}
		{{/each}}
	</div>
</template>

<template name="spotItem">
	<div class="media">
		<div class="media-left">
			<img class="media-object img-rounded" src="{{pictureThumbnail}}" alt="{{name}}">
		</div>
		<div class="media-body">
			<h4 class="media-heading"><strong>{{name}}</strong><br><small>{{pseudoAddress}}</small></h4>
			<p>{{formatDate createdAt "calendar"}}</p>
		</div>
	</div>
</template>

<template name="viewSpot">
	<div class="btn-group pull-right">
		{{#with this}}
		<a href="{{pathFor 'editSpot'}}" class="btn btn-warning btn-lg" id="editBtn"><i class="fa fa-pencil"></i></a>
		{{/with}}
	</div>
	<div class="well well-lg">
		<img src="{{pictureSquare}}" class="img-responsive img-rounded" alt="{{name}}">
		<div class="page-header">
			<h3><strong>{{name}}</strong><br><small>{{hashtag}}</small></h3>
			<div class="btn-group">
				<button type="button" class="btn btn-default" id="clipBoardBtn"><i class="fa fa-clipboard"></i>&nbsp; copy tag</button>
			</div>
			{{#if clipboardClicked}}
			<small>&nbsp;Tag copied to clipboard</small>
			{{/if}}
		</div>
	</div>
	<ul class="list-group">
		{{#unless instagramMedia}}
		<div class="col-xs-12 loader"><i class="fa fa-circle-o-notch fa-spin fa-2x"></i></div>
		{{/unless}}
		{{#each instagramMedia}}
		{{#with this}}
		<li class="list-group-item">{{> instagramItem}}</li>
		{{/with}}
		{{/each}}
	</ul>
</template>

<template name="instagramItem">
	<div class="instagramItem">
		<h4 class="media-heading">
			<strong>{{user.full_name}}</strong>&nbsp;
			{{#if isVideo}}
			<i class="fa fa-video-camera"></i>
			{{else}}
			<i class="fa fa-camera"></i>
			{{/if}}
			<br>
			<small>{{formatDate createdAt "calendar"}}</small>
		</h4>
		<div class="media-object">
			{{#if isVideo}}
			<div class="instagram-box" style="background:url({{images.low_resolution.url}}) no-repeat 50% 50%;">
				{{#if isVideoPlaying}}
				<video width="306" height="306" autoplay id="{{id}}"><source src="{{videos.low_resolution.url}}" type="video/mp4"></video>
				{{else}}
				<div class="overlay">
					<span class="play"><i class="fa fa-youtube-play fa-3x"></i></span>
				</div>
				{{/if}}
			</div>
			{{else}}
			<img class="img-responsive img-rounded" src="{{images.low_resolution.url}}" alt="Image">
			{{/if}}
		</div>
		<br>
		<blockquote>{{caption.text}}</blockquote>
	</div>
	<img src="{{pictureSquare}}" class="img-responsive" alt="{{name}}">
</template>

<template name="newSpot">
	<div class="page-header">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-default btn-lg" id="cameraBtn"><i class="fa fa-camera-retro"></i></button>
		</div>
		<h2><strong>Create new spot</strong></h2>
	</div>
	{{#autoForm collection="Spots" id="insertSpotForm" type="insert"}}
	<fieldset>
		<div class="form-group {{#if afFieldIsInvalid name='picture'}}has-error{{/if}}">
			{{#if afFieldIsInvalid name='picture'}}
			<span class="help-block">{{afFieldMessage name='picture'}}</span>
			{{/if}}
		</div>
		{{#if spotPhotoSrc}}
		<div class="well well-lg">
			<img src="{{spotPhotoSrc}}" class="img-responsive" alt="Image">
		</div>
		{{/if}}
		<div class="form-group {{#if afFieldIsInvalid name='location'}}has-error{{/if}}">
			{{#if afFieldIsInvalid name='location'}}
			<span class="help-block">{{afFieldMessage name='location'}}</span>
			{{/if}}
		</div>
		<div class="well well-lg">
			{{> map}}
		</div>
		{{> afQuickField name='name'}}
		{{> afQuickField name='secret'}}
	</fieldset>
	<div class="btn-group">
		<button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-check-square-o"></i>&nbsp;Create</button>
	</div>
	{{/autoForm}}
	{{> geolocationModal}}
</template>

<template name="geolocationModal">
	<div class="modal fade" id="modal-geolocation" data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Retrieving location</h4>
				</div>
				<div class="modal-body loader">
					<i class="fa fa-circle-o-notch fa-spin fa-2x"></i><br><br>
					<p>
						Please wait, SpotON is trying to locate your spot...
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</template>

<template name="editSpot">
	{{#autoForm collection="Spots" doc=this id="updateSpotForm" type="update"}}
	<div class="page-header">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-danger btn-lg" id="deleteSpot"><i class="fa fa-trash-o"></i></button>
		</div>
		<h2><strong>{{name}}</strong> <small>edit</small></h2>
	</div>
	<fieldset>
		{{> afQuickField name='name'}}
	</fieldset>
	<div class="btn-group">
		<button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-check-square-o"></i>&nbsp;Update</button>
	</div>
	{{/autoForm}}
</template>